<app-header></app-header>
<!-- <app-product></app-product> -->
<div style="min-height: 600px;">
	<router-outlet></router-outlet>
</div>

<app-footer></app-footer>


<div class="openfil">Open Filter</div>





<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
<!-- <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>  -->

<script type="text/javascript">
	$(document).ready(function(){
		$('.openfil').click(function(){
			$('.productfilter').addClass('openfilter');
		});
		$('.closefil').click(function(){
			$('.productfilter').removeClass('openfilter');
		});

		$('.fbclidrop').click(function(){
			$(this).toggleClass('showcon');
		});
	});
</script>