<div class="profileseltab">
  <ul>
    <li><a routerLink="/profile/profile" routerLinkActive="activeprotab">My Profits</a></li>
    <li><a routerLink="/profile/payments" routerLinkActive="activeprotab">Payments</a></li>
    <li><a routerLink="/profile/bank-details" routerLinkActive="activeprotab">Bank Details</a></li>
    <li><a routerLink="/profile/missing-profit" routerLinkActive="activeprotab">Missing Profit</a></li>
    <li><a routerLink="/profile/account-setting" routerLinkActive="activeprotab">Account Setting</a></li>
    <li class="showPointer" ><a (click)="logout()">LogOut</a></li>
  </ul>
</div>